*,
::before,
::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
}

.container {
    max-width: 1190px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
}

/* Header start */

/* Site start */

.header {
    background-color: #EEEFF1;
    position: relative;
}

.site__wrapper {
    width: 100%;
    display: flex;
    padding-top: 79px;
    justify-content: center;
    margin-bottom: 162px;
    text-align: center;
    gap: 398px;
}

.site_logo {
    text-decoration: none;
    color: #34547A;
}

.site__list {
    display: flex;
    gap: 42px;
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.site__item {
    font-size: 16px;
    color: #34547A;
    line-height: 26.25px;
    letter-spacing: 1px;

}

.nav__link {
    text-decoration: none;
    color: #000000;

    &:hover {
        color: #66BB6A;
    }
}

.js-button {
    border: none;
    background-color: transparent;
    display: none;
}

.open .site__nav {
    display: block;
    visibility: visible;
    z-index: 5;
  }

/* Site end */

/* hero start */
.hero {
    background-color: #EEEFF1;
}

.hero__wrapper {
    margin: 0 auto;
    display: flex;
    max-width: 1000px;
    justify-content: center;
    padding-bottom: 146px;
    margin-bottom: 119px;
    gap: 131px;
}

.hero__tittle {
    max-width: 541px;
    width: 100%;
    margin-top: 0;
    margin-bottom: 60px;
    font-size: 48px;
    line-height: 78.75px;
    color: #000000;
}

.hero__text {
    margin-top: 0;
    margin-bottom: 60px;
    max-width: 540px;
    width: 100%;
    font-size: 16px;
    line-height: 26.25px;
    color: #000000;
}

.hero__link {
    text-decoration: none;
    padding: 25px 41px;
    background-color: #34547A;
    font-size: 16px;
    line-height: 26.25px;
    letter-spacing: 1.6px;
    text-align: center;
    color: #FFFFFF;

    &:hover {
        color: #66BB6A;
    }
}

/* hero end */
/* Header end */

/* Main start */
/* about start */

.about__info {
    text-align: center;
    margin-bottom: 100px;
}

.about__tittle {
    margin: 0;
    padding-bottom: 50px;
    font-size: 32px;
    line-height: 37.5px;
    color: #000000;
}

.about__text {
    margin: 0 auto;
    max-width: 540px;
    width: 100%;
    font-size: 16px;
    line-height: 26.25px;
    color: #727272;
}

/* about end */
/* Card start */

.card {
    padding-top: 100px;
    padding-bottom: 100px;
    margin-bottom: 150px;
    background-color: #34547A;
}

.card__wrapper {
    display: flex;
    gap: 49px;
}

/* Card end */
/* Stats start */

.stats__wrapper {
    max-width: 1150px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 101px;
}

.stats__tittle {
    margin: 0;
    padding-top: 102px;
    font-size: 32px;
    line-height: 37.5px;
    color: #000000;
    padding-bottom: 20px;
}

.progress{
    max-width: 445px;
    width: 100%;
    height: 4px;
    background-color: #C4C4C4;
    position: relative;
} 

.prog__tittle {
    margin: 0;
    font-size: 16px;
    line-height: 26.25px;
    color: #727272;
    padding-bottom: 20px;
    padding-top: 29.76px;
}

.progress__span {
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    background-color: #34547A;
    width: 349.36px;
}

.stats_photo {
    max-width: 555px;
    width: 100%;
}

/* Stats end */

/* Description start */

.desc {
    background-color: #EEEFF1;
    padding-bottom: 100px;
    margin-bottom: 128px;
}

.desc__tittle {
    padding-top: 100px;
    margin: 0;
    font-size: 32px;
    padding-bottom: 50px;
    line-height: 37.5px;
    text-align: center;
    color: #000000;
}

.desc__text {
    margin: 0 auto;
    max-width: 540px;
    width: 100%;
    padding-bottom: 57px;
    font-size: 16px;
    line-height: 26.25px;
    text-align: center;
    color: #000000;
}

.desc__photo {
    width: 100%;
    height: auto;
}

/* Description end */

/* Projects start */

.projects {
    width: 100%;
    height: 960px;
    background-image: url("/imgs/projects.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.microsoft__logo{
    padding-top: 1020px;
    width: 100%;

} 
/* Projects end */


/* form start */

.form {
    background-color: #EEEFF1;
    margin-top: 292px;
}

.form__tittle {
    padding-top: 100px;
    margin: 0;
    font-size: 32px;
    padding-bottom: 50px;
    line-height: 37.5px;
    text-align: center;
    color: #000000;
}

.form__text {
    margin: 0 auto;
    max-width: 540px;
    width: 100%;
    padding-bottom: 57px;
    font-size: 16px;
    line-height: 26.25px;
    text-align: center;
    color: #000000;
}

.form__group {
    text-align: center;
}


.field__name {
    max-width: 255px;
    width: 100%;
    height: 50px;
    padding-left: 20px;
    margin-right: 30px;
    background-color: #FFFFFF;
    border: 0;
    outline: none;
}
.field__name::placeholder {
    font-size: 14px;
    line-height: 22.97px;
    color: #5F5D5D;
    padding-top: 17px;
    padding-bottom: 18px;
}

.field__email {
    max-width: 255px;
    width: 100%;
    height: 50px;
    background-color: #FFFFFF;
    padding-left: 20px;
    border: 0;
    outline: none;
}
.field__email::placeholder {
    font-size: 14px;
    line-height: 22.97px;
    color: #5F5D5D;
    padding-top: 17px;
    padding-bottom: 18px;
}

.field__message {
    max-width: 540px;
    width: 100%;
    height: 175px;
    background-color: #FFFFFF;
    resize: none;
    margin-top: 20px;
    padding: 17px 0px 143px 20px;
    border: 0;
    outline: none;
    overflow-y: hidden;
}

.field__button {
    max-width: 190px;
    width: 100%;
    height: 55px;
    background-color: #34547A;
    margin-top: 50px;
    margin-bottom: 100px;
    font-size: 14px;
    line-height: 22.97px;  
    letter-spacing: 2.1px;  
    text-align: center;
    color: #FFFFFF;

    &:hover {
        cursor: pointer;
        color: #66BB6A;
    }
}



/* form end */
/* Main end */

/* Footer start */

.footer {
    background-color: #34547A;
    height: 150px;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.footer__tittle {
    margin: 0;
    padding-bottom: 20px;
    font-size: 21px;
    line-height: 24.61px;
    color: #FFFFFF;
}


.footer__text {
    margin: 0;
    font-size: 13px;
    line-height: 21.33px;
    color: #FFFFFF;
}

.footer__logo {
    max-width: 175px;
    width: 100%;
    height: 40px;
}

.footer__logo {
    text-decoration: none;
}

/* Footer end */

/* responsive start */


@media only screen and (max-width: 1120px) {
    /* header start */
    .site__wrapper {
        gap: unset;
        justify-content: space-between;
    }
    /* header end */
    /* card start */
    .card__wrapper {
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }
    /* card end */
}

@media only screen and (max-width: 992px) {
    /* hero start */
    .hero__tittle {
        margin-bottom: 30px;
        font-size: 38px;
        line-height: 48px;
    }
    /* hero end */
}

@media only screen and (max-width: 968px) {
    /* hero start */
    .hero__wrapper {
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        gap: 70px;
    }
    /* hero end */
    /* card start */
    .card {
        margin: 0;
        padding-block: 70px;
    }

    .card__wrapper {
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }
    /* card end */
    /* stats start */
    .stats__wrapper {
        flex-direction: column;
        justify-content: flex-start;
        gap: 50px;
    }
    /* stats end */
    /* description start */
    .desc__photo {
        width: 100%;
        margin-left: 0;
    }
    /* decription end */

}


@media only screen and (max-width: 768px) {
    /* header start */
    .site__wrapper {
        padding-top: 50px;
        width: 100%;
        justify-content: space-between;
      }

    .js-button {
        display: block;
        font-size: 24px;

      }

    .site__nav {
        position: absolute;
        top: 12%;
        left: 0;
        width: 100%;
        display: none;
    }
    
    .site__list {
        flex-direction: column;
        gap: 30px;
        background-color: #EEEFF1;
        padding-bottom: 40px;
      }

    .site__item {
        font-weight: 500;
        font-size: 18px;
        line-height: 26.2px;
        color: #9698A6;
      }

      .nav__link {

        &:hover {
            color: #66BB6A;
        }
      }
    /* header end */  
    /* card start */
    .card {
        margin-bottom: 0;
        padding-block: 70px;
    }

    .card__wrapper {
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }
    /* hero start */
    .hero__wrapper {
        margin-left: 0;
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;
    }
    /* hero end */
}

@media only screen and (max-width: 638px) {
    /* card start */
    .card__wrapper {
        gap: 40px;
    }
    /* card end */
}

@media only screen and (max-width: 584px) {
    /* form start */
    .field__name {
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .field__email {
        max-width: 100%;
    }
    /* form end */
}

@media only screen and (max-width: 514px) {
    /* form start */
    .form {
        margin-top: 200px;
    }
    /* form end */
    /* footer start */
    .footer__tittle {
        font-size: 22px;
        line-height: 36px;
        padding-bottom: 10px;
    }
    .footer__text {
        font-size: 11px;
        line-height: 24px;
    }
    /* footer end */
}

@media only screen and (max-width: 478px) {
    /* header start */
    .site__wrapper {
        margin-bottom: 90px;
    }
    /* header end */
    /* hero start */
    .hero__wrapper {
        text-align: center;
    }
    /* hero end */
}

@media only screen and (max-width: 375px) {
    /* hero start*/
    .hero__wrapper {

        img {
            width: 100%;
        }
    }
    /* hero end */
    /* foooter start */
    .footer__text {
        font-size: 10px;
        line-height: 22px;
    }
    /* footer end */
}

/* responsive end */